@use "./styles.scss" as s;
@use "./fontsAndTypography/fontFaces" as f;
@use "./colors/colors" as *;
@use "./utilities/setup";
@use "./blog.css";
@use "./utilities/breakpoints" as b;

body{
    background: $pine;
}

.contactImage{
    background: url(../the-restaurant-mall-assets/contact-header.jpg);
    height: clamp(10rem, 35.4vw, 115rem);

}

//overall body content
.contactContent{
    @include s.flex(row,center,flex-start,wrap);

    @include b.breakpoint(1110px){
        @include s.flex(column-reverse,center,center,wrap);
    }
}

//left side styles

.contactLeftSide{
    width:28%;
    @include s.flex(column,flex-start,flex-start,nowrap);
    padding-block: 10rem;
    color: $whiteR;
    flex-grow: 1;

    @include b.breakpoint(1110px){
        width: 60%;
        @include s.flex(column,center,center,nowrap);
    }

    p{
        padding-left:6rem;
        flex-grow: 1;

        @include b.breakpoint(1110px){
            padding: 0;
            text-align: center;
        }
    }
}

.social {
    @include s.flex(row,center,center,nowrap);
    flex-grow: 1;

    @include b.breakpoint(1110px){
        padding: 0;
        text-align: center;
        
    }

    li{
        list-style: none;
        display: block;
        padding: 2rem;

        @include b.breakpoint(1110px){
            padding: 5vw;
            
        }

    }
    a{
        padding-block: 30%;
        font-size: 3rem;
        color: $sunYellow;
        
        :hover,:focus{
            transform: scale(1.1);
            
        }
    }
    
 
}

//right side styles
.contactRightSide{
    padding: 5rem;
    position: relative;
    bottom: 10rem;

    width: clamp(80rem,70vw,100rem);
    flex-grow: 1;

    @include b.breakpoint(1110px){
        width: 85%;
        bottom: 0;
        padding: 0;
    }
}

.formWrapper{
    position: relative;
}
.contactForm{

    @include s.flex(column,center,center,nowrap);
    width: 100%;
    font-size: 3rem;
    background: $almostBlack;
    box-shadow: 2rem 2rem 0px 0px $sunYellow;
    padding-block: 10rem;

    margin-top: -15%;

    @include b.breakpoint(1110px){
        margin-top: 5vw;
        box-shadow: none;
        border: 1vw solid $sunYellow;
    }

    input[type="text"]{
        color: $whiteR;
        border: none;
        background: transparent;
        border-bottom: 2px solid $sunYellow;
        width: 40%;

        @include b.breakpoint(480px){
            width: 80%;
        }
    }
    
    input[type="textarea"]{
        border: 2px solid $sunYellow;
        height: 30vw;
        background: #FFFFFF00;
        color: $whiteR;
    }

    button{
        width: 80%;
        background: $sunYellow;
        text-transform: uppercase;
        padding-block: 4rem;
        border: none;
        margin-block: 4rem;
    }
}