@use "./utilities/setup";
@use "./colors/colors" as *;
@use "./fontsAndTypography/fontFaces" as f;
@use "./utilities/breakpoints" as b;


@mixin flex($direction, $justify, $align,$wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

html{
    // basal styles
    font-size: 62.5%;
}

.wrapper{
    width: min(80%, 150rem);
    margin: 0 auto;
}

p{
    @include f.font(f.$barlowFam,regular,2rem);
}

//header styles here
.mainImage{
    background: url(./../the-restaurant-mall-assets/home-header.jpg);
    height: clamp(10rem,60vw,115rem);
}

.coreHeader{
    
    
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;//for the hanging image
    background-color: $pine;
}



//nav is HERE
.upperNav{
    ul{
        list-style: none;
        margin-top: 0;
        padding-left: clamp(0.5rem, 0.5vw, 4rem);
        
        li{
            //padding
            padding-left: 1rem;
            padding-right: clamp(1rem,2vw,4rem);
            padding-block: 1rem;
        }
        a{
            //text
            text-transform: capitalize;
            text-decoration: none;
            @include f.font(f.$josefinFam,bold,clamp(1.8rem,2vw,2.5rem));

            padding-block: 1rem;
            //color
            color: white;
            
            

            &:hover{
                border-bottom: 0.2rem solid $sunYellow;
            }
        }
    }
}

.horizontal{
    ul{
    display: flex;
        flex-direction: row;
    }
    @include b.breakpoint(812px){
       display: none;
    }
    
}

.sliding{
    
    position:fixed;
    top: 0;
    text-align: center;
    width: 100vw;
    left:-500vw;
    transition-duration: 0.5s;
    background: #000000dd;
    z-index: 10;
    a{
        @include f.font(f.$josefinFam,bold,clamp(3rem,2vw,3.5rem));
    }
}

.closeButton{
    position: relative;
    background: none;
    border: none;
    color: white;
    left:45vw;
    top: 2vw;
    i{
        font-size: 3rem;
    }

    
    
}

.verticalVisible{
    transform:translateX(500vw);
    
}

.hamburger{
    color: white;
    display: none;
    @include b.breakpoint(812px){
        display:block;
        padding-block: 2%;
        font-size: 3rem;
    }
}


//header
h1{
    display: flex;
    flex-direction: column;
    padding-block: clamp(1rem,6vw,10rem);
    
    //text
    text-transform: uppercase;
    @include f.font(f.$josefinFam, bold, clamp(1rem, 5vw ,10rem) );

    //color
    color: white;

    p{
        @include f.font(f.$josefinFam, bold, clamp(1rem, 5vw ,10rem) );
        margin:0;
    }
    span{
        background-color: $whiteR;
        color: $britGray;
        width: fit-content;
    }
}

//hanging image
.homeboxHeader{
    position: absolute;
    top: clamp(5rem,10vw,36rem);
    right: 0;
    width: 50%;

    img{
        width: 100%;
        &::before{
            content:url(../icons/location-dot-solid.svg);
            height: 100px;
            width: 100px;
        }
    }
    
}

//cards section
section{
    background: $pine;
    color:$whiteR;
}
.cards{
    
    @include flex(row,center ,center ,wrap );
    
    width: 90%;
    padding-left: 0;
    padding-top: 10rem;
    padding-bottom: 10rem;


    
    li{
        @include flex(row, flex-start, flex-start, nowrap);
        width: max(40%, 35rem);
        margin-block: 2rem;

        @include b.breakpoint(812px){
            @include flex(column,flex-start ,center, wrap );
            width: 85%;
            text-align: center;
            margin-block: 5vw;
        }
    
   }

   h2{
    margin-top: 0;
    @include f.font(f.$josefinFam,regular,min(12vw,4.5rem));
    text-transform: uppercase;

    
   }

   p{
    @include f.font(f.$barlowFam,regular,2rem);
   }
}
.cardContent{
    width: 80%;
    padding-left: 3rem;

    @include b.breakpoint(812px){
        padding-left: 0;
    }
}

.iconHolder{
    width: 6rem;
    height: 6rem;
    background: $sunYellow;
    border-radius: 50%;
    @include flex(row, center, center, nowrap);

    @include b.breakpoint(812px){
        width: 20vw;
        height: 20vw;
        text-align: center;
        margin-block: 5vw;
    }

    img{
        display: block;
        width: 50%;
    }
}

//burgers and fries section
.bnS{
   background: $almostBlack; 
}


.content{
    width: 40%;
    
    h3{
        margin-top: 0;
        @include f.font(f.$josefinFam,regular,4rem);
        text-transform: uppercase;
        padding-block: 1rem;
        margin: 0;
       }

    p{
        @include f.font(f.$barlowFam,regular,2rem);
        padding-block: 2rem;
        margin-block: 0;
        margin-right: 15%;
       }

    
}

.right{
    @include b.breakpoint(812px){
        @include flex(column,flex-start ,center, wrap );
        width: 85%;
        text-align: center;
        margin-block: 15vw;
    }
}

.left{
    @include flex(column,flex-start ,flex-end, wrap );
    text-align: right;
    width: clamp(40%,44vw,50%);

    @include b.breakpoint(812px){
        @include flex(column,flex-start ,flex-start, wrap );
        width: 85%;
        text-align: center;
        margin-block: 5vw;
    }

    p{
        margin-left: 10%;
        margin-right: 0;
        text-align: right;

        @include b.breakpoint(812px){
            text-align: left;
            margin: 0;
        }
    }
}

.readMore{
    background: $sunYellow;
    color: $blackR;
    
    text-transform: uppercase;
    text-decoration: none;
    
    display: block;
    width: fit-content;
    padding: 2rem;

    @include f.font(f.$barlowFam,regular,2rem);

    @include b.breakpoint(812px){
        width: 100%;
        margin: 0;
    }
    
}

.friesWrapper{
    @include flex(row, space-between, center, wrap);
    padding-bottom: 5vw;

    @include b.breakpoint(812px){
        @include flex(column,flex-start ,center, wrap );
        margin-bottom: 20vw;
    }
    
}

.popoutImage{
    position: relative;
    width: clamp(40%,44vw,50%);
    height: 28vw;

    @include b.breakpoint(812px){
        width: 90%;
        box-shadow: none;
        margin-bottom: 15vw;
    }

    img{
        @include b.breakpoint(812px){
            width: 100%;
            box-shadow: none;
            border: 2vw solid $sunYellow;
        }
    }
}

.leftImage{
    position: absolute;
    top: -3rem;
    box-shadow: 2rem 2rem $sunYellow;
    width: 100%;
}

.rightImage{
    position: absolute;
    bottom: -3rem;
    right: 0;
    box-shadow: -2rem 2rem $sunYellow;
    width: 100%;
}

.tsnWrapper{
    @include flex(row-reverse,space-between , center ,wrap );
    padding-block:2vw;

    @include b.breakpoint(812px){
        @include flex(column,space-between , center ,wrap );
    }
}

.giftCard{
    @include flex(column, center, center, wrap);
    padding-block: 10rem;
    h3{
        @include f.font(f.$josefinFam,bold,4.5rem);   
        color: $sunYellow;
    }

    p{
        @include f.font(f.$barlowFam,normal,2rem);
        padding-block: 2rem;
    }
}

.findOutMore{
    color: $whiteR;
    text-decoration: none;
    text-transform: uppercase;
    @include f.font(f.$josefinFam,normal,2rem);
    background: $almostBlack;
    padding: 2rem;
    display: block;
    width: fit-content;

    @include b.breakpoint(812px){
        width: 100%;
        text-align: center;
        margin-block: 5vw;
    }
    
}

.banner{
    background: url(../the-restaurant-mall-assets/banner.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40vw;
}

.natureSpaces{
    @include flex(row,flex-start,flex-start,wrap);
    padding-bottom: 5vw;
    h3{
        color: $sunYellow;
        @include f.font(f.$josefinFam,bold,4.5rem);
        text-transform: uppercase;
        margin-top: 0;
    }

    
}

.squareImg{
    width: 28vw;
    padding-block: calc(0.5*(130em - 100vw));
    min-width: 26rem;
    flex-grow: 1;
  
    @include b.breakpoint(812px){
        padding-block: 5vw;
    }

    img{
        width: 100%;
        box-shadow: -1vw 1vw $sunYellow;

        @include b.breakpoint(812px){
            box-shadow:none;
        border:2vw solid $sunYellow;
        }
    }

    
}

.natureContent{
    width: 60%;
    padding-left: 5%;
    flex-grow: 1;
}

//gallery styles

.gallery{
    background: $almostBlack;
    ul{
        @include flex(row, space-evenly, center, wrap);
        padding-block: 5vw;

        
        li{
            width: 24vw;
            list-style:none;

            @include b.l {
                width: 33vw;
            }

        }
        img{
            width: 100%;
        }

        @include b.l {
            :nth-child(2){
                display: none;
            }
        }
    }
}

//footer
footer{
    background: $blackR;
    color: $whiteR;
    text-align: center;
    margin:0;

    p{
        margin: 0;
        padding-block: 2rem;
    }

}
